@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --unfocused-border-color: #eaeaea;
    --focused-border-color: #666;

    --button-disabled-color: #fafafa;
    --disabled-text-color: #999;

    --geist-font: "Indie Flower", cursive;

    --tweet-font: "Roboto", sans-serif;
    --tweet-font-size: 40px;
    --tweet-sm-font-size: 30px;
  }
}