@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --unfocused-border-color: #eaeaea;
    --focused-border-color: #666;

    --button-disabled-color: #fafafa;
    --disabled-text-color: #999;

    --geist-font: "Indie Flower", cursive;

    --tweet-font: "Roboto", sans-serif;
    --tweet-font-size: 30px;
    --tweet-sm-font-size: 22.5px;
    --max-frame-width: 768px;

  }

  body {
    background: rgb(238,189,174);
    background: radial-gradient(circle, rgba(238,189,174,0.27356880252100846) 0%, rgba(238,232,69,0.2259497549019608) 100%);
    
  }
}